<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--This section contains configuration values-->
    <!--<add key="RegConfig" value="ProcessID = {ProcessID} || {EventName} || KeyName={KeyName}, KeyHandle={KeyHandle}, ValueName={ValueName} || ProcessName = {ProcessName}" />
    <add key="NetConfig" value="{EventName} | {TaskName} ProcessID = {ProcessID}, ProcessName = {ProcessName} Net operation" />
    <add key="FileConfig" value="{EventName} | {TaskName} | {FileName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} File operation" />-->
    <!--Registry-->
    <add key="RegistryTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | KeyName={KeyName}, ValueName={ValueName}" />
    <!--Network-->
    <add key="UdpIpTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} size={size} dsize={dsize}" />
    <add key="UdpIpFailTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | Proto={proto} FailureCode={FailureCode}" />
    <add key="UpdIpV6TraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} seqnum={seqnum} connid={connid}" />
    <add key="TcpIpSendTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} seqnum={seqnum} connid={connid} startime={startime} endtime={endtime}" />
    <add key="TcpIpTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} seqnum={seqnum} connid={connid} size={size}" />
    <add key="TcpIpConnectTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} connid={connid} seqnum={seqnum} sackopt={sackopt} tsopt={tsopt} wsopt={wsopt} rcvwin={rcvwin} rcvwinscale={rcvwinscale} sndwinscale={sndwinscale} size={size}" />
    <add key="TcpIpFailTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | Proto={proto} FailureCode={FailureCode}" />
    <add key="TcpIpV6SendTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} seqnum={seqnum} connid={connid} startime={startime} endtime={endtime}" />
    <add key="TcpIpV6TraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} seqnum={seqnum} connid={connid} size={size}" />
    <add key="TcpIpV6ConnectTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | {saddr}:{sport}->{daddr}:{dport} connid={connid} seqnum={seqnum} sackopt={sackopt} tsopt={tsopt} wsopt={wsopt} rcvwin={rcvwin} rcvwinscale={rcvwinscale} sndwinscale={sndwinscale} size={size}" />
    <!--File-->
    <add key="FileIOInfoTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | IrpPtr={IrpPtr}; FileObject={FileObject}; FileName={FileName}; FileKey={FileKey}; ExtraInfo={ExtraInfo}; InfoClass={InfoClass}" />
    <add key="FileIODirEnumTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | IrpPtr={IrpPtr}; FileObject={FileObject}; FileKey={FileKey}; DirectoryName={DirectoryName}; Length={Length}; InfoClass={InfoClass}; FileIndex={FileIndex}; FileName={FileName}" />
    <add key="FileIOOpEndTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | IrpPtr={IrpPtr}; ExtraInfo={ExtraInfo}; NtStatus={NtStatus}; " />
    <add key="FileIOReadWriteTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | IrpPtr={IrpPtr}; Offset={Offset}; FileObject={FileObject}; FileKey={FileKey}; FileName={FileName}; IoSize={IoSize}; IoFlags={IoFlags}" />
    <add key="MapFileTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | ViewBase={ViewBase}; FileKey={FileKey}; MiscInfo={MiscInfo}; ViewSize={ViewSize}; FileName={FileName}; ByteOffset={ByteOffset}" />
    <add key="FileIONameTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | ViewBase={ViewBase}; FileKey={FileKey}; MiscInfo={MiscInfo}; ViewSize={ViewSize}; FileName={FileName}; ByteOffset={ByteOffset}" />
    <add key="FileIOCreateTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | IrpPtr={IrpPtr}; FileObject={FileObject}; CreateOptions={CreateOptions}; CreateDispostion={CreateDispostion}; FileAttributes={FileAttributes}; ShareAccess={ShareAccess}; FileName={FileName}" />
    <add key="FileIOSimpleOpTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | IrpPtr={IrpPtr}; FileObject={FileObject}; FileName={FileName}; FileKey={FileKey}" />
    <!--Process-->
    <add key="ProcessTraceData" value="{EventName} | ProcessID = {ProcessID}, ProcessName = {ProcessName} | ApplicationID={ApplicationID}; PackageFullName={PackageFullName}; CommandLine={CommandLine}; UniqueProcessKey={UniqueProcessKey}; ExitStatus={ExitStatus}; SessionID={SessionID}; ImageFileName={ImageFileName}; KernelImageFileName={KernelImageFileName}; ParentID={ParentID}; DirectoryTableBase={DirectoryTableBase}" />
    <!--Regexes that are supposed to be found in output logs-->
    <add key="RegRegexString" value="" />
    <add key="NetRegexString" value="" />
    <add key="FileRegexString" value="" />
    <!--Regexes that are not supposed to be found in output logs-->
    <add key="NotRegRegexString" value="$a" />
    <add key="NotNetRegexString" value="$a" />
    <add key="NotFileRegexString" value="$a" />
  </appSettings>
</configuration>