<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--IMPORTANT! Loggers used for Event Trace for Widows event consumption need keepFileOpen="frue" to be efficient enough-->
    <target name="logfile" xsi:type="File" fileName="Logs.txt" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target name="ETWFileLogs" xsi:type="File" keepFileOpen="true"  fileName="ETWFileLogs.txt" />
    <target name="ETWNetLogs" xsi:type="File" keepFileOpen="true" fileName="ETWNetLogs.txt" />
    <target name="ETWRegLogs" xsi:type="File" keepFileOpen="true" fileName="ETWRegLogs.txt" />
    <target name="ETWProcLogs" xsi:type="File" keepFileOpen="true" fileName="ETWProcLogs.txt" />
  </targets>

  <rules>
    <!--loger used for any information-->
    <logger name="GeneralLogger" minlevel="Info" writeTo="logfile" />
    <!--loger used for widows file events-->
    <logger name="ETWFileLogger" minlevel="Info" writeTo="ETWFileLogs" />
    <!--loger used for widows network events-->
    <logger name="ETWNetLogger" minlevel="Info" writeTo="ETWNetLogs" />
    <!--loger used for widows registry events-->
    <logger name="ETWRegLogger" minlevel="Info" writeTo="ETWRegLogs" />
    <!--loger used for widows process events-->
    <logger name="ETWProcLogger" minlevel="Info" writeTo="ETWProcLogs" />
  </rules>
</nlog>